.welcome-header {
    height: 300px;
    width: 100%;
    background-color: black;
    color: white;
}

.card-style {
    min-height: 300px;
}

.hidden {
    visibility: hidden !important;
    max-height: 0px !important;
}

